---
http_interactions:
- request:
    method: post
    uri: http://kanbanize.com/index.php/api/kanbanize/get_all_tasks/boardid/2/format/json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Apikey:
      - testapikey
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '[{"taskid":"7","position":"0","type":"Feature request","assignee":"karouf","title":"Write
        Api specs","description":"","subtasks":"1","subtaskscomplete":"0","color":"#b3b340","priority":"Average","size":null,"deadline":null,"deadlineoriginalformat":null,"extlink":null,"tags":null,"columnid":"progress_2","laneid":"7","leadtime":19,"blocked":"0","blockedreason":null,"subtaskdetails":[],"columnname":"En
        cours","lanename":"Standard","columnpath":"En cours","logedtime":0},{"taskid":"8","position":"2","type":"None","assignee":"karouf","title":"Another
        task","description":"","subtasks":"0","subtaskscomplete":"0","color":"#99b399","priority":"Average","size":null,"deadline":null,"deadlineoriginalformat":null,"extlink":null,"tags":null,"columnid":"archive_6","laneid":"4","leadtime":12,"blocked":"0","blockedreason":null,"subtaskdetails":[],"columnname":"Archive","lanename":"Urgent","columnpath":"Archive","logedtime":0},{"taskid":"9","position":"1","type":"N[...]
[...]
- request:
    method: post
    uri: http://kanbanize.com/index.php/api/kanbanize/get_all_tasks/boardid/2/container/archive/version/20130612/format/json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Apikey:
      - testapikey
  response:
    status:
      code: 200
      message: OK
    headers:
      Proxy-Connection:
      - Keep-Alive
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"task":[{"taskid":"7","position":"1","type":"Support request","assignee":"None","title":"Test","description":"blah","subtasks":"0","subtaskscomplete":"0","color":"#668cd9","priority":"High","size":"2","deadline":null,"deadlineoriginalformat":null,"extlink":null,"tags":null,"columnid":"done_3","laneid":"4","blocked":"0","blockedreason":null,"subtaskdetails":[],"columnname":"Fini","lanename":"Urgent","createdorarchived":"2013-06-13","leadtime":29,"loggedtime":0},{"taskid":"8","position":"1","type":"None","assignee":"karouf","title":"API
        test","description":"","subtasks":"0","subtaskscomplete":"0","color":"#99b399","priority":"Average","size":null,"deadline":null,"deadlineoriginalformat":null,"extlink":"","tags":null,"columnid":"done_3","laneid":"7","blocked":null,"blockedreason":null,"subtaskdetails":[],"columnname":"Fini","lanename":"Standard","createdorarchived":"2013-06-13","leadtime":17,"loggedtime":0},{"taskid":"9","position":"0","type":[...]
[...]
- request:
    method: post
    uri: http://kanbanize.com/index.php/api/kanbanize/get_all_tasks/boardid/2/container/archive/version/inexistant/format/json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Apikey:
      - testapikey
  response:
    status:
      code: 200
      message: OK
    headers:
      Proxy-Connection:
      - Keep-Alive
      Content-Type:
      - text/html
    body:
      encoding: US-ASCII
      string: ''
  recorded_at: Tue, 09 Jul 2013 08:23:11 GMT
recorded_with: VCR 2.5.0
