---
http_interactions:
- request:
    method: post
    uri: http://kanbanize.com/index.php/api/kanbanize/get_board_activities/boardid/2/fromdate/2013-06-23/todate/2013-06-26/format/json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Apikey:
      - testapikey
  response:
    status:
      code: 200
      message: OK
    headers:
      Proxy-Connection:
      - Keep-Alive
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"allactivities":38,"page":1,"activities":[{"author":"karouf","event":"Comment
        added","text":"<em>''Another comment.''<\/em>","date":"2013-06-25 09:04:13","taskid":"7"},{"author":"karouf","event":"Task
        created","text":"Task : <em>Test30<\/em>","date":"2013-06-25 08:41:59","taskid":"41"},{"author":"karouf","event":"Task
        created","text":"Task : <em>Test29<\/em>","date":"2013-06-25 08:41:57","taskid":"40"},{"author":"karouf","event":"Task
        created","text":"Task : <em>Test28<\/em>","date":"2013-06-25 08:41:54","taskid":"39"},{"author":"karouf","event":"Task
        created","text":"Task : <em>Test27<\/em>","date":"2013-06-25 08:41:49","t[...]
- request:
    method: post
    uri: http://kanbanize.com/index.php/api/kanbanize/get_board_activities/boardid/2/fromdate/2013-06-23/todate/2013-06-26/author/tintin/format/json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Apikey:
      - testapikey
  response:
    status:
      code: 200
      message: OK
    headers:
      Proxy-Connection:
      - Keep-Alive
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"allactivities":2,"page":1,"activities":[{"author":"tintin","event":"Comment
        added","text":"Task : <em>Test2<\/em>","date":"2013-06-25 08:40:36","taskid":"7"},{"author":"tintin","event":"Task
        created","text":"Task : <em>Test2<\/em>","date":"2013-06-25 08:40:36","taskid":"7"}]}'
  recorded_at: Tue, 25 Jun 2013 08:52:47 GMT
- request:
    method: post
    uri: http://kanbanize.com/index.php/api/kanbanize/get_board_activities/boardid/2/fromdate/2013-06-23/todate/2013-06-26/resultsperpage/2/format/json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Apikey:
      - testapikey
  response:
    status:
      code: 200
      message: OK
    headers:
      Proxy-Connection:
      - Keep-Alive
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"allactivities":38,"page":1,"activities":[{"author":"karouf","event":"Comment
        added","text":"<em>''Another comment.''<\/em>","date":"2013-06-25 09:04:13","taskid":"7"},{"author":"tintin","event":"Task
        created","text":"Task : <em>Test30<\/em>","date":"2013-06-25 08:41:59","taskid":"41"}]}'
  recorded_at: Tue, 25 Jun 2013 08:52:49 GMT
- request:
    method: post
    uri: http://kanbanize.com/index.php/api/kanbanize/get_board_activities/boardid/2/fromdate/2013-06-23/todate/2013-06-26/page/2/format/json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Apikey:
      - testapikey
  response:
    status:
      code: 200
      message: OK
    headers:
      Proxy-Connection:
      - Keep-Alive
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"allactivities":38,"[...]
- request:
    method: post
    uri: http://kanbanize.com/index.php/api/kanbanize/get_board_activities/boardid/2/fromdate/2013-06-23/todate/2013-06-26/eventtype/Comments/format/json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Apikey:
      - testapikey
  response:
    status:
      code: 200
      message: OK
    headers:
      Proxy-Connection:
      - Keep-Alive
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"allactivities":2,"page":1,"activities":[{"author":"karouf","event":"Comment
        added","text":"<em>''Another comment.''<\/em>","date":"2013-06-25 09:04:13","taskid":"7"},{"author":"tintin","event":"Comment
        added","text":"<em>''Test comment''<\/em>","date":"2013-06-24 17:14:20","taskid":"7"}]}'
  recorded_at: Tue, 25 Jun 2013 09:11:00 GMT
recorded_with: VCR 2.5.0
