---
http_interactions:
- request:
    method: post
    uri: http://kanbanize.com/index.php/api/kanbanize/get_task_details/boardid/2/taskid/7/format/json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Apikey:
      - testapikey
  response:
    status:
      code: 200
      message: OK
    headers:
      Proxy-Connection:
      - Keep-Alive
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"taskid":"7","title":"Write Api specs","description":"","type":"Feature
        request","assignee":"karouf","subtasks":"1","subtaskscomplete":"0","color":"#b3b340","priority":"Average","size":null,"deadline":null,"deadlineoriginalformat":null,"extlink":null,"tags":null,"leadtime":6,"blocked":"0","blockedreason":null,"columnname":"En
        cours","lanename":"Standard","subtaskdetails":[{"taskid":"42","assignee":"None","title":"Some
        stuff to do","completiondate":null}],"columnid":"progress_2","laneid":"7","columnpath":"En
        cours","loggedtime":0}'
  recorded_at: Thu, 27 Jun 2013 16:00:59 GMT
- request:
    method: post
    uri: http://kanbanize.com/index.php/api/kanbanize/get_task_details/boardid/2/taskid/7
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Apikey:
      - testapikey
  response:
    status:
      code: 200
      message: OK
    headers:
      Proxy-Connection:
      - Keep-Alive
      Content-Type:
      - application/xml
    body:
      encoding: US-ASCII
      string: ! '<?xml version="1.0" encoding="utf-8"?>

        <xml><taskid>7</taskid><title>Write Api specs</title><description></description><type>Feature
        request</type><assignee>karouf</assignee><subtasks>1</subtasks><subtaskscomplete>0</subtaskscomplete><color>#b3b340</color><priority>Average</priority><size></size><deadline></deadline><deadlineoriginalformat></deadlineoriginalformat><extlink></extlink><tags></tags><leadtime>6</leadtime><blocked>0</blocked><blockedreason></blockedreason><columnname>En
        cours</columnname><lanename>Standard</lanename><subtaskdetails><item><taskid>42</taskid><assignee>None</assignee><title>Some
        stuff to do</title><completiondate></completiondate></item></subtaskdetails><columnid>progress_2</columnid><laneid>7</laneid><columnpath>En
        cours</columnpath><loggedtime>0</loggedtime></xml>

'
  recorded_at: Thu, 27 Jun 2013 16:04:59 GMT
- request:
    method: post
    uri: http://kanbanize.com/index.php/api/kanbanize/get_task_details/boardid/2/taskid/7/history/yes
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Apikey:
      - testapikey
  response:
    status:
      code: 200
      message: OK
    headers:
      Proxy-Connection:
      - Keep-Alive
      Content-Type:
      - application/xml
    body:
      encoding: US-ASCII
      string: ! '<?xml version="1.0" encoding="utf-8"?>

        <xml><taskid>7</taskid><title>Write Api specs</title><description></description><type>Feature
        request</type><assignee>karouf</assignee><subtasks>1</subtasks><subtaskscomplete>0</subtaskscomplete><color>#b3b340</color><priority>Average</priority><size></size><deadline></deadline><deadlineoriginalformat></deadlineoriginalformat><extlink></extlink><tags></tags><leadtime>6</leadtime><blocked>0</blocked><blockedreason></blockedreason><columnname>En
        cours</columnname><lanename>Standard</lanename><subtaskdetails><item><taskid>42</taskid><assignee>None</assignee><title>Some
        stuff to do</title><completiondate></completiondate></item></subtaskdetails><columnid>progress_2</columnid><laneid>7</laneid><columnpath>En
        cours</columnpath><loggedtime>0</loggedtime><historydetails><item><eventtype>Unarchive</eventtype><historyevent>Task
        unarchived</historyevent><details>Task: Test</details><author>karouf</author><entrydate>27
        Jun 13, 10:02</entrydate><historyid>88</historyid></item><item><eventtype>Updates</eventtype><historyevent>Subtask  created</historyevent><details>Subtask
        : Some stuff to do</details><author>karouf</author><entrydate>27 Jun 13, 09:52</entrydate><historyid>87</historyid></item><item><eventtype>Comments</eventtype><historyevent>Comment
        added</historyevent><details>''Another comment.''</details><author>karouf</author><entrydate>25
        Jun 13, 09:04</entrydate><historyid>86</historyid></item><item><eventtype>Commen[...]
- request:
    method: post
    uri: http://kanbanize.com/index.php/api/kanbanize/get_task_details/boardid/2/taskid/7/history/yes/format/json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Apikey:
      - testapikey
  response:
    status:
      code: 200
      message: OK
    headers:
      Proxy-Connection:
      - Keep-Alive
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"taskid":"7","title":"Write Api specs","descript[...]
- request:
    method: post
    uri: http://kanbanize.com/index.php/api/kanbanize/get_task_details/boardid/2/taskid/7/history/yes/event//format/json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Apikey:
      - testapikey
  response:
    status:
      code: 200
      message: OK
    headers:
      Proxy-Connection:
      - Keep-Alive
      Content-Type:
      - application/xml
    body:
      encoding: US-ASCII
      string: ! '<?xml version="1.0" encoding="utf-8"?>

   [...]
- request:
    method: post
    uri: http://kanbanize.com/index.php/api/kanbanize/get_task_details/boardid/2/taskid/7/history/yes/event/comment/format/json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Apikey:
      - testapikey
  response:
    status:
      code: 200
      message: OK
    headers:
      Proxy-Connection:
      - Keep-Alive
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"taskid":"7","title":"Write Api specs","description":"","type":"Feature
        request","assignee":"karouf","subtasks":"1","subtaskscomplete":"0","color":"#b3b340","priority":"Average","size":null,"deadline":null,"deadlineoriginalformat":null,"extlink":null,"tags":null,"leadtime":6,"blocked":"0","blockedreason":null,"columnname":"En
        cours","lanename":"Standard","subtaskdetails":[{"taskid":"42","assignee":"None","title":"Some
        stuff to do","completiondate":null}],"columnid":"progress_2","laneid":"7","columnpath":"En
        cours","loggedtime":0,"historydetails":[{"eventtype":"Comments","historyevent":"Comment
        added","details":"''Another comment.''","author":"karouf","entrydate":"25
        Jun 13, 09:04","historyid":"86"},{"eventtype":"Comments","historyevent":"Comment
        added","details":"''Test comment''","author":"karouf","entrydate":"24 Jun
        13, 17:14","historyid":"51"}]}'
  recorded_at: Thu, 27 Jun 2013 16:11:01 GMT
recorded_with: VCR 2.5.0
