---
http_interactions:
- request:
    method: post
    uri: http://kanbanize.com/index.php/api/kanbanize/get_all_tasks/boardid/2/format/json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Apikey:
      - testapikey
  response:
    status:
      code: 200
      message: OK
    headers:
      Proxy-Connection:
      - Keep-Alive
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '[{"taskid":"7","position":"0","type":"Feature request","assignee":"karouf","title":"Write
        Api specs","description":"","subtasks":"1","subtaskscomplete":"0","color":"#b3b340","priority":"Average","size":null,"deadline":null,"deadlineoriginalformat":null,"extlink":null,"tags":null,"columnid":"progress_2","laneid":"7","leadtime":6,"blocked":"0","blockedreason":null,"subtaskdetails":[],"columnname":"En
        cours","lanename":"Standard","columnpath":"En cours","logedtime":0},{"taskid":"8","position":"2","type":"None","assignee":"karouf","title":"Another
        task","description":"","subtasks":"0","subtaskscomplete":"0","color":"#99b399","priority":"Average","size":null,"deadline":null,"deadlineoriginalformat":null,"extlink":null,"tags":null,"columnid":"archive_6","laneid":"4","leadtime":5,"blocked":"0","blockedreason":null,"subtaskdetails":[],"columnname":"Archive","lanename":"Urgent","columnpath":"Archive","logedtime":0},{"taskid":"9","position":"1","type":"No[...]
- request:
    method: post
    uri: http://kanbanize.com/index.php/api/kanbanize/get_all_tasks/boardid/2/container/archive/fromdate/2013-06-14/format/json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Apikey:
      - testapikey
  response:
    status:
      code: 200
      message: OK
    headers:
      Proxy-Connection:
      - Keep-Alive
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"numberoftasks":"0","page":1,"tasksperpage":30,"task":[]}'
  recorded_at: Thu, 27 Jun 2013 10:04:27 GMT
- request:
    method: post
    uri: http://kanbanize.com/index.php/api/kanbanize/get_all_tasks/boardid/2/container/archive/page/2/format/json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Apikey:
      - testapikey
  response:
    status:
      code: 200
      message: OK
    headers:
      Proxy-Connection:
      - Keep-Alive
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"numberoftasks":"5","page":"2","tasksperpage":30,"task":[]}'
  recorded_at: Thu, 27 Jun 2013 10:04:30 GMT
- request:
    method: post
    uri: http://kanbanize.com/index.php/api/kanbanize/get_all_tasks/boardid/2/container/archive/todate/2013-06-12/format/json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Apikey:
      - testapikey
  response:
    status:
      code: 200
      message: OK
    headers:
      Proxy-Connection:
      - Keep-Alive
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"numberoftasks":"0","page":1,"tasksperpage":30,"task":[]}'
  recorded_at: Thu, 27 Jun 2013 10:04:32 GMT
- request:
    method: post
    uri: http://kanbanize.com/index.php/api/kanbanize/get_all_tasks/boardid/2/container/archive/format/json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Apikey:
      - testapikey
  response:
    status:
      code: 200
      message: OK
    headers:
      Proxy-Connection:
      - Keep-Alive
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"numberoftasks":"5","page":1,"tasksperpage":30,"task":[{"taskid":"7","position":"1","type":"Support
        request","assignee":"None","title":"Test","description":"blah","subtasks":"0","subtaskscomplete":"0","color":"#668cd9","priority":"High","size":"2","deadline":null,"extlink":null,"tags":null,"columnid":"done_3","laneid":"4","blocked":"0","blockedreason":null,"subtaskdetails":[],"columnname":"Fini","lanename":"Urgent","createdorarchived":"2013-06-13","deadlineoriginalformat":null,"columnpath":"Fini","leadtime":6,"loggedtime":0},{"taskid":"8","position":"1","type":"None","assignee":"karouf","title":"API
        test","description":"","subtasks":"0","subtaskscomplete":"0","color":"#99b399","priority":"Average","size":null,"deadline":null,"extlink":"","tags":null,"columnid":"done_3","laneid":"7","blocked":null,"blockedreason":null,"subtaskdetails":[],"columnname":"Fini","lanename":"Standard","createdorarchived":"2013-06-13","deadlineoriginalformat":null,"columnpath":"Fini","leadtime":5,"loggedtime":0},{"taskid":"9","po[...]
- request:
    method: post
    uri: http://kanbanize.com/index.php/api/kanbanize/get_all_tasks/boardid/2/container/archive/version/2013061/format/json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Apikey:
      - testapikey
  response:
    status:
      code: 200
      message: OK
    headers:
      Proxy-Connection:
      - Keep-Alive
      Content-Type:
      - text/html
    body:
      encoding: US-ASCII
      string: ''
  recorded_at: Thu, 27 Jun 2013 10:04:36 GMT
[...]
- request:
    method: post
    uri: http://kanbanize.com/index.php/api/kanbanize/get_all_tasks/boardid/2/subtasks/yes/format/json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Apikey:
      - testapikey
  response:
    status:
      code: 200
      message: OK
    headers:
      Proxy-Connection:
      - Keep-Alive
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '[{"taskid":"7","position":"0","type":"Feature request","assignee":"karouf","title":"Write
        Api specs","description":"","subtasks":"1","subtaskscomplete":"0","color":"#b3b340","priority":"Average","size":null,"deadline":null,"deadlineoriginalformat":null,"extlink":null,"tags":null,"columnid":"progress_2","laneid":"7","leadtime":6,"blocked":"0","blockedreason":null,"subtaskdetails":[{"subtaskid":"42","completiondate":null,"assignee":"None","title":"Some
        stuff to do"}],"columnname":"En cours","lanename":"Standard","columnpath":"En
        cours","logedtime":0},{"taskid":"8","position":"2","type":"None","assignee":"karouf","title":"Another
        task","description":"","subtasks":"0","subtaskscomplete":"0","color":"#99b399","priority":"Average","size":null,"deadline":null,"deadlineoriginalformat":null,"extlink":null,"tags":null,"columnid":"archive_6","laneid":"4","leadtime":5,"blocked":"0","blockedrea[...]
