---
http_interactions:
- request:
    method: post
    uri: http://kanbanize.com/index.php/api/kanbanize/login/email/test@testers.com/pass/test/format/json
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Proxy-Connection:
      - Keep-Alive
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"email":"test@testers.com","username":"test","realname":"Testy McTest","companyname":"Testers
        Inc.","timezone":"+00:00","apikey":"testapikey"}'
  recorded_at: Tue, 25 Jun 2013 14:18:46 GMT
recorded_with: VCR 2.5.0
