---
http_interactions:
- request:
    method: post
    uri: http://kanbanize.com/index.php/api/kanbanize/get_board_structure/boardid/1/format/json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Apikey:
      - GsO6tNAKRak1DDwOu4glluZ6X8yRWeLKIv0RswFo
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Proxy-Connection:
      - Keep-Alive
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '"The board does not exist"'
  recorded_at: Wed, 10 Jul 2013 08:13:52 GMT
- request:
    method: post
    uri: http://kanbanize.com/index.php/api/kanbanize/get_projects_and_boards/format/json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Apikey:
      - GsO6tNAKRak1DDwOu4glluZ6X8yRWeLKIv0RswFo
  response:
    status:
      code: 200
      message: OK
    headers:
      Proxy-Connection:
      - Keep-Alive
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"projects":[{"name":"My First Kanban Project","id":"1","boards":[{"name":"Test","id":"3"},{"name":"My
        First Kanban Board","id":"2"}]}]}'
  recorded_at: Wed, 10 Jul 2013 08:16:45 GMT
- request:
    method: post
    uri: http://kanbanize.com/index.php/api/kanbanize/get_board_structure/boardid/3/format/json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Apikey:
      - GsO6tNAKRak1DDwOu4glluZ6X8yRWeLKIv0RswFo
  response:
    status:
      code: 200
      message: OK
    headers:
      Proxy-Connection:
      - Keep-Alive
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"columns":[{"position":"0","lcname":"Requested","description":"","tasksperrow":"1"},{"position":"2","lcname":"In
        Progress","description":"","tasksperrow":"1"},{"position":"3","lcname":"Done","description":"","tasksperrow":"1"}],"lanes":[{"lcname":"Default
        Swimlane","color":"#FFFFFF","description":""}]}'
  recorded_at: Wed, 10 Jul 2013 08:17:58 GMT
- request:
    method: post
    uri: http://kanbanize.com/index.php/api/kanbanize/get_board_structure/boardid/2/format/json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Apikey:
      - GsO6tNAKRak1DDwOu4glluZ6X8yRWeLKIv0RswFo
  response:
    status:
      code: 200
      message: OK
    headers:
      Proxy-Connection:
      - Keep-Alive
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"columns":[{"position":"0","lcname":"Suivants","description":"","tasksperrow":"3"},{"position":"1","lcname":"En
        cours","description":"Ce qui est en cours","tasksperrow":"3"},{"position":"3","lcname":"Fini","description":"","tasksperrow":"2"}],"lanes":[{"lcname":"Urgent","color":"#d99f9f","description":""},{"lcname":"Standard","color":"#FFFFFF","description":""},{"lcname":"Interne","color":"#FFFFFF","description":""}]}'
  recorded_at: Wed, 10 Jul 2013 08:17:58 GMT
recorded_with: VCR 2.5.0
