---
http_interactions:
- request:
    method: post
    uri: http://kanbanize.com/index.php/api/kanbanize/get_projects_and_boards/format/json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Apikey:
      - testapikey
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"projects":[{"name":"My First Kanban Project","id":"1","boards":[{"name":"Test","id":"3"},{"name":"My
        First Kanban Board","id":"2"}]}]}'
  recorded_at: Sun, 30 Jun 2013 19:29:14 GMT
- request:
    method: post
    uri: http://kanbanize.com/index.php/api/kanbanize/login/email/test@testers.com/pass/test/format/json
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"email":"test@testers.com","username":"test","realname":"Testy McTest"
        ,"companyname":"Testers Inc.","timezone":"+00:00","apikey":"testapikey"}'
  recorded_at: Sun, 30 Jun 2013 19:29:15 GMT
recorded_with: VCR 2.5.0
