---
http_interactions:
- request:
    method: post
    uri: http://kanbanize.com/index.php/api/kanbanize/get_projects_and_boards/format/json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Apikey:
      - testapikey
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"projects":[{"name":"My First Kanban Project","id":"1","boards":[{"name":"Test","id":"3"},{"name":"My
        First Kanban Board","id":"2"}]}]}'
  recorded_at: Sun, 30 Jun 2013 19:29:14 GMT
- request:
    method: post
    uri: http://kanbanize.com/index.php/api/kanbanize/login/email/test@testers.com/pass/test/format/json
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"email":"test@testers.com","username":"test","realname":"Testy McTest"
        ,"companyname":"Testers Inc.","timezone":"+00:00","apikey":"testapikey"}'
  recorded_at: Sun, 30 Jun 2013 19:29:15 GMT
- request:
    method: post
    uri: http://kanbanize.com/index.php/api/kanbanize/get_board_structure/boardid/3/format/json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Apikey:
      - testapikey
  response:
    status:
      code: 200
      message: OK
    headers:
      Proxy-Connection:
      - Keep-Alive
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"columns":[{"position":"0","lcname":"Requested","description":"","tasksperrow":"1"},{"position":"2","lcname":"In
        Progress","description":"","tasksperrow":"1"},{"position":"3","lcname":"Done","description":"","tasksperrow":"1"}],"lanes":[{"lcname":"Default
        Swimlane","color":"#FFFFFF","description":""}]}'
  recorded_at: Wed, 10 Jul 2013 14:27:12 GMT
- request:
    method: post
    uri: http://kanbanize.com/index.php/api/kanbanize/get_board_structure/boardid/2/format/json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Apikey:
      - testapikey
  response:
    status:
      code: 200
      message: OK
    headers:
      Proxy-Connection:
      - Keep-Alive
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"columns":[{"position":"0","lcname":"Suivants","description":"","tasksperrow":"3"},{"position":"1","lcname":"En
        cours","description":"Ce qui est en cours","tasksperrow":"3"},{"position":"3","lcname":"Fini","description":"","tasksperrow":"2"}],"lanes":[{"lcname":"Urgent","color":"#d99f9f","description":""},{"lcname":"Standard","color":"#FFFFFF","description":""},{"lcname":"Interne","color":"#FFFFFF","description":""}]}'
  recorded_at: Wed, 10 Jul 2013 14:27:12 GMT
recorded_with: VCR 2.5.0
